<section class="exchange">
    <img class="bgUSD" src="../../../assets/img/bgUSD.svg" alt="bgUSD">
    <aside class="exchange__left">
        <div class="exchange__box">
            <select class="exchange__box-select" name="" id="">USD</select>
            <input class="exchange__box-input" placeholder="Enter amount" type="text">
        </div>
    </aside>

    <img src="../../../assets/img/changer.svg" alt="changer">
    <img class="devide" src="../../../assets/img/devide.svg" alt="devide">

    <aside class="exchange__right">
        <div class="exchange__box">
            <select class="exchange__box-select" name="" id="">USD</select>
            <input class="exchange__box-input" placeholder="Enter amount" type="text">
        </div>
    </aside>
    <img class="bgEUR" src="../../../assets/img/bgEUR.svg" alt="bgEUR">
</section>