@import '../../../assets/scss/display-flex';

.exchange{
    display: flex;
    justify-content: space-around;        
    &__left, &__right{
        width: 50%;
    }
    @media screen and (max-width: 630px) {
        display: flex;
        flex-direction: column;
    }
    &__box{
        background-color: black;
        border: 3px solid white;
        border-radius: 50px;
        width: 50%;
        height: 300px;
        margin: 100px auto;
        padding: 30px;
        @extend .flex-sa-column;
        @media screen and (max-width: 1195px) {
            width: 60%;
            height: 200px;
        }
        @media screen and (max-width: 600px) {
            width: 60%;
            height: 200px;
        }
        @media screen and (max-width: 630px) {
            width: 170%;
            justify-content: space-around;
            flex-direction: column;
        }
    }
    &__box-select, &__box-input{
        height: 50px;
        color: white;
        background-color: black;
    }
    &__box-select{
        font-size: 24px;
    }
    &__box-input{
        border-bottom: 2px solid white;
        font-size: 32px;
        border-top: none;
        border-right: none;
        border-left: none;
        outline: none;
    }
}
.bgUSD{
    width: 350px;
    position: absolute;
    top: 100px;
    left: -9%;
    z-index: -100;
    @media screen and (max-width: 750px) {
        left: -30%;
    }
}
.bgEUR{
    width: 350px;
    position: absolute;
    top: 100px;
    right: -8%;
    z-index: -100;
    @media screen and (max-width: 750px) {
        right: -20%;
    }
}
.devide{
    position: absolute;
    top: 70px;
    right: 46%;
    z-index: -100;
    @media screen and (max-width: 750px) {
        display: none;
    }
}

.select-style{
    display: flex;
    flex-direction: column;
}

.changer{
    @media screen and (max-width: 900px) {
        width: 70px;
    }
    @media screen and (max-width: 630px) {
        width: 100px;
        margin: 0 auto;
    }
}

.rotate {
    animation: rotateAnimation 1s ease-in;
    cursor: pointer;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}