<header class="header">
    <div class="header__logo">
        <img class="header__logo-photo" src="../../../assets/img/logo.svg" alt="logo">
        <span class="header__logo-subtitle">Exchanger</span>
    </div>

    <section class="header__currency">
        <div class="header__currency-sign">
            <span class="header__currency-text">USD: {{ usdPrice | currency:'USD'}}</span>
        </div>
        <div class="header__currency-sign">
            <span class="header__currency-text">EUR: {{ eurPrice | currency:'EUR'}}</span>
        </div>
    </section>    
</header>